<div class="login-div">
    <div class="mat-elevation-z8">
        <img class="logo" src="https://izjzv.org.rs/images/logo.png" alt="IZJZV">
        <br>
        <p>PRIJAVA NA SISTEM</p>
        <form (submit)="onLogin()" [formGroup]="loginForm">
            <mat-form-field appearance="">
                <input matInput name="phone" type="text" placeholder="Broj telefona" formControlName="phoneInput">
                <mat-error>{{formError.mapErrors(loginForm.get('phoneInput'), 'Broj telefona')}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput name="pin" formControlName="pinInput" placeholder="PIN"
                    [type]="hide ? 'password' : 'text'">
                <mat-icon class="password-toggle" matSuffix (click)="hide = !hide">
                    {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>{{formError.mapErrors(loginForm.get('pinInput'), 'PIN')}}</mat-error>
            </mat-form-field>
            <br>
            <p class="message">{{message}}</p>
            <button class="login-button" mat-raised-button color="primary" type="submit"
                [disabled]="loading ? true : false">Prijavi se</button>
        </form>
    </div>
</div>