<!--
<button class="buttonBorder" mat-button (click)="exportDataToXML()">Export data to XML</button>
<button class="buttonBorder" mat-button (click)="exportDataToPDF()">Export data to PDF</button>
-->
<div class="patients-buttons">
    <button class="patients-button" (click)="logout()" mat-raised-button color="warn">
        Odjavi se
    </button>&nbsp;
    <button *ngIf="currentRole=='lekar' || currentRole=='student'" class="patients-button" mat-raised-button color="primary" [routerLink]='["/register-patient"]'>
        Dodaj pacijenta
    </button>
</div>
<div class="patients-div">
    <div class="mat-elevation-z8">
        <mat-form-field class="search-button">
            <span matSuffix>
                <mat-icon>search</mat-icon>
            </span>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Pretraga">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef> Ime </th>
                <td mat-cell *matCellDef="let patient"> {{patient.personalInfo.firstname}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef> Prezime </th>
                <td mat-cell *matCellDef="let patient"> {{patient.personalInfo.lastname}} </td>
            </ng-container>

            <ng-container matColumnDef="jmbg">
                <th mat-header-cell *matHeaderCellDef> JMBG </th>
                <td mat-cell *matCellDef="let patient"> {{patient.personalInfo.jmbg}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Telefon </th>
                <td mat-cell *matCellDef="let patient"> {{patient.personalInfo.phone}} </td>
            </ng-container>
            <!--
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let patient">
                    
                    <button mat-raised-button color="warn" (click)="openDialog(patient)">
                        Izbriši
                    </button>
                    &nbsp;
                    
                    <button mat-raised-button color="accent"
                        [routerLink]="['/edit-patient', patient.personalInfo.jmbg]">
                        Izmeni
                    </button>
                </td>
            </ng-container>
            -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/edit-patient', row.id]"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons (page)="getAll($event)"></mat-paginator>
    </div>
</div>