table {
  width: 100%;
  text-align: left;
}

tr.mat-row:hover {
  background-color:  rgb(210, 255, 220);
  cursor: pointer;
}

// .mat-form-field {
//   font-size: 14px;
//   width: 100%;
// }

.patients-div {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-elevation-z8 {
  width: 95%;
  background-color: rgb(210, 255, 220);
}

.search-button {
  margin: 10px;
  width: 90%;
}

.patients-buttons {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.patients-button {
  margin: 20px;
}

.spinner {
  margin: 0 auto;
}

.cell {
  margin: 10px;
}