  table {
    width: 100%;
    text-align: left;
  }
/*  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
*/

.patients-div {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mat-elevation-z8 {
  width: 95%;
  background-color: rgb(210, 255, 220);
}

.add-button {
  float: left;
  margin: 5px;
}

.search-button {
  margin: 10px;
  width: 90%;
}

.logout-button {
  float: right;
  margin: 5px;
}

.patients-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
