<div class="patient">

    <h1>Pacijent</h1>

    <mat-tab-group mat-align-tabs="center" [selectedIndex]="1">
        <mat-tab disabled>

        </mat-tab>
        <mat-tab label="Osnovni podaci">
            <br>
            <mat-card class="info-card">
                <div [formGroup]="patientForm">

                    <div formGroupName="personalInfo">

                        <mat-form-field>
                            <input matInput name="firstname" type="text" placeholder="Ime" formControlName="firstname">
                            <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.firstname'), 'Ime')}}
                            </mat-error>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <input matInput name="lastname" type="text" placeholder="Prezime"
                                formControlName="lastname">
                            <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.lastname'), 'Prezime')}}
                            </mat-error>
                        </mat-form-field><br>
                        <mat-form-field>
                            <input matInput name="lbo" type="text" placeholder="LBO" formControlName="lbo">
                            <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.lbo'), 'LBO')}}</mat-error>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <input matInput name="jmbg" type="text" placeholder="JMBG" formControlName="jmbg">
                            <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.jmbg'), 'JMBG')}}</mat-error>
                        </mat-form-field><br>
                        <div formGroupName="address">
                            <mat-form-field>
                                <input matInput name="street" type="text" placeholder="Ulica" formControlName="street">
                                <mat-error>
                                    {{formError.mapErrors(patientForm.get('personalInfo.address.street'), 'Ulica')}}
                                </mat-error>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <input matInput name="streetNum" type="text" placeholder="Broj"
                                    formControlName="streetNum">
                                <mat-error>
                                    {{formError.mapErrors(patientForm.get('personalInfo.address.streetNum'), 'Broj')}}
                                </mat-error>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <input matInput name="city" type="text" placeholder="Grad" formControlName="city">
                                <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.address.city'), 'Grad')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <br>
                    </div>
                    <mat-form-field>
                        <input matInput name="citizenship" type="text" placeholder="Državljanstvo"
                            formControlName="citizenship">
                        <mat-error>{{formError.mapErrors(patientForm.get('citizenship'), 'Državljanstvo')}}</mat-error>
                    </mat-form-field>&nbsp;



                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Doputovao iz države" aria-label="Number" matInput
                            formControlName="countryOfImport" [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                            <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
                                {{country}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>



                    <!--
                <mat-form-field>
                    <input matInput name="countryOfImport" type="text" placeholder="Doputovao iz države"
                        formControlName="countryOfImport">
                    <mat-error>{{formError.mapErrors(patientForm.get('countryOfImport'), 'Doputovao iz države')}}
                    </mat-error>
                </mat-form-field>
                -->
                    &nbsp;
                    <div formGroupName="personalInfo">
                        <mat-form-field>
                            <input matInput name="phone" type="text" placeholder="Telefon" formControlName="phone">
                            <mat-error>{{formError.mapErrors(patientForm.get('personalInfo.phone'), 'Telefon')}}
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </mat-card><br><br>

        </mat-tab>
        <mat-tab label="Status">
            <br><br>
            <mat-card class="info-card">
                <div [formGroup]="patientForm">
                    <div formGroupName="status">
                        <mat-radio-group name="status" formControlName="status" aria-label="Izaberite status pacijenta">
                            <mat-radio-button value="Izlečen">Izlečen</mat-radio-button>&nbsp;
                            <mat-radio-button value="Sumnja - moguć">Sumnja - moguć</mat-radio-button>&nbsp;
                            <mat-radio-button value="Verovatan">Verovatan</mat-radio-button>&nbsp;
                            <mat-radio-button value="Potvrda">Potvrda</mat-radio-button>&nbsp;
                            <mat-radio-button value="Mortalitet">Mortalitet</mat-radio-button>
                        </mat-radio-group>
                        <br><br>
                        <mat-form-field>
                            <mat-label>Datum</mat-label>
                            <input matInput [matDatepicker]="picker" name="date" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field><br>

                        <mat-form-field>
                            <input matInput name="temperature" type="number" min="0" step="0.1"
                                placeholder="Temperatura" formControlName="temperature">
                            <mat-error>{{formError.mapErrors(patientForm.get('status.temperature'), 'Temperatura')}}
                            </mat-error>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <input matInput name="description" type="text" placeholder="Opis"
                                formControlName="description">
                            <mat-error>{{formError.mapErrors(patientForm.get('status.description'), 'Opis')}}
                            </mat-error>
                        </mat-form-field><br>

                        <mat-form-field class="example-chip-list">
                            <mat-chip-list #chipList aria-label="anamnesis selection">
                              <mat-chip
                                *ngFor="let anamnesis of anamnesiss"
                                [selectable]="selectable"
                                [removable]="removable"
                                (removed)="remove(anamnesis)">
                                {{anamnesis}}
                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                              </mat-chip>
                              <input
                                placeholder="Anamneza"
                                #anamnesisInput
                                formControlName="anamnesis"
                                [matAutocomplete]="autoAnamnesis"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete autoActiveFirstOption #autoAnamnesis="matAutocomplete" (optionSelected)="selected($event)">
                              <mat-option *ngFor="let anamnesis of filteredanamnesiss | async" [value]="anamnesis">
                                {{anamnesis}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                        <!--  
                        <mat-form-field>
                            <input matInput name="anamnesis" type="text" placeholder="Anamneza"
                                formControlName="anamnesis">
                            <mat-error>{{formError.mapErrors(patientForm.get('status.anamnesis'), 'Anamneza')}}
                            </mat-error>
                        </mat-form-field>
                        -->
                    </div>
                </div>
            </mat-card>
            <br><br>

            <mat-form-field class="search" *ngIf="edit">
                <span matSuffix>
                    <mat-icon>search</mat-icon>
                </span>
                <input matInput (keyup)="applyFilterStatuses($event.target.value)" placeholder="Pretraga">
            </mat-form-field>
            <div class="mat-elevation-z8" *ngIf="edit">
                <table mat-table [dataSource]="dataSourceStatuses">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> Redni broj </th>
                        <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef> Status </th>
                        <td mat-cell *matCellDef="let status"> {{status.status}} </td>
                    </ng-container>

                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Datum </th>
                        <td mat-cell *matCellDef="let status"> {{status.date}} </td>
                    </ng-container>

                    <ng-container matColumnDef="temperature">
                        <th mat-header-cell *matHeaderCellDef> Temperatura </th>
                        <td mat-cell *matCellDef="let status"> {{status.temperature}} </td>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef> Opis </th>
                        <td mat-cell *matCellDef="let status"> {{status.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="anamnesis">
                        <th mat-header-cell *matHeaderCellDef> Anamneza </th>
                        <td mat-cell *matCellDef="let status"> {{status.anamnesis}} </td>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let patient">
                            <button mat-raised-button color="warn" (click)="openDialog(patient)" matTooltip="Izbriši">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-raised-button color="accent" [routerLink]="['/register-patient', patient]"
                                matTooltip="Izmeni">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsStatuses"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsStatuses;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>
        <mat-tab label="Mere">
            <br>
            <mat-card class="info-card">
                <div [formGroup]="patientForm">
                    <div formGroupName="measure">
                        <mat-form-field>
                            <input matInput name="rescriptNum" type="text" placeholder="Broj rešenja"
                                formControlName="rescriptNum">
                            <mat-error>{{formError.mapErrors(patientForm.get('measure.rescriptNum'), 'Broj rešenja')}}
                            </mat-error>
                        </mat-form-field><br><br>
                        <mat-radio-group aria-label="Izaberite meru" name="measure" formControlName="measure">
                            <mat-radio-button value="Samoizolacija">Samoizolacija</mat-radio-button>&nbsp;
                            <mat-radio-button value="Kućno lečenje">Kućno lečenje</mat-radio-button>&nbsp;
                            <mat-radio-button value="Stacionar">Stacionar</mat-radio-button>
                        </mat-radio-group><br><br>
                        <mat-form-field *ngIf="patientForm.value.measure?.measure == 'Stacionar'">
                            <input matInput name="institution" type="text" placeholder="Ustanova"
                                formControlName="institution">
                            <mat-error>{{formError.mapErrors(patientForm.get('measure.institution'), 'Ustanova')}}
                            </mat-error>
                        </mat-form-field><br>
                        <mat-form-field>
                            <mat-label>Datum početka mere</mat-label>
                            <input matInput [matDatepicker]="pickerStart" name="startDate" formControlName="startDate">
                            <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                            <mat-datepicker #pickerStart></mat-datepicker>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                            <mat-label>Datum završetka mere</mat-label>
                            <input matInput [matDatepicker]="pickerEnd" name="endDate" formControlName="endDate">
                            <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                            <mat-datepicker #pickerEnd></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
            <br><br>

            <mat-form-field class="search" *ngIf="edit">
                <span matSuffix>
                    <mat-icon>search</mat-icon>
                </span>
                <input matInput (keyup)="applyFilterMeasures($event.target.value)" placeholder="Pretraga">
            </mat-form-field>
            <div class="mat-elevation-z8" *ngIf="edit">
                <table mat-table [dataSource]="dataSourceMeasures">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> Redni broj </th>
                        <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="measure">
                        <th mat-header-cell *matHeaderCellDef> Mera </th>
                        <td mat-cell *matCellDef="let measure"> {{measure.measure}} </td>
                    </ng-container>

                    <ng-container matColumnDef="rescriptNum">
                        <th mat-header-cell *matHeaderCellDef> Broj rešenja </th>
                        <td mat-cell *matCellDef="let measure"> {{measure.rescriptNum}} </td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Datum početka mere </th>
                        <td mat-cell *matCellDef="let measure"> {{measure.startDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> Datum završetka mere </th>
                        <td mat-cell *matCellDef="let measure"> {{measure.endDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="institution">
                        <th mat-header-cell *matHeaderCellDef> Ustanova </th>
                        <td mat-cell *matCellDef="let measure"> {{measure.institution}} </td>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let patient">
                            <button mat-raised-button color="warn" (click)="openDialog(patient)" matTooltip="Izbriši">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-raised-button color="accent" [routerLink]="['/register-patient', patient]"
                                matTooltip="Izmeni">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMeasures"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMeasures;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>

        <mat-tab label="Kontakti">
            <br>
            <mat-card class="info-card">
                <div [formGroup]="contactForm">
                    <div formGroupName="personalInfo">
                        <mat-form-field>
                            <input matInput name="firstname" type="text" placeholder="Ime" formControlName="firstname">
                            <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.firstname'), 'Ime')}}
                            </mat-error>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <input matInput name="lastname" type="text" placeholder="Prezime"
                                formControlName="lastname">
                            <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.lastname'), 'Prezime')}}
                            </mat-error>
                        </mat-form-field><br>
                        <mat-form-field>
                            <input matInput name="lbo" type="text" placeholder="LBO" formControlName="lbo">
                            <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.lbo'), 'LBO')}}</mat-error>
                        </mat-form-field>&nbsp;
                        <mat-form-field>
                            <input matInput name="jmbg" type="text" placeholder="JMBG" formControlName="jmbg">
                            <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.jmbg'), 'JMBG')}}</mat-error>
                        </mat-form-field><br>
                        <div formGroupName="address">
                            <mat-form-field>
                                <input matInput name="street" type="text" placeholder="Ulica" formControlName="street">
                                <mat-error>
                                    {{formError.mapErrors(contactForm.get('personalInfo.address.street'), 'Ulica')}}
                                </mat-error>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <input matInput name="streetNum" type="text" placeholder="Broj ulice"
                                    formControlName="streetNum">
                                <mat-error>
                                    {{formError.mapErrors(contactForm.get('personalInfo.address.streetNum'), 'Broj ulice')}}
                                </mat-error>
                            </mat-form-field>&nbsp;
                            <mat-form-field>
                                <input matInput name="city" type="text" placeholder="Grad" formControlName="city">
                                <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.address.city'), 'Grad')}}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <mat-form-field>
                        <input matInput name="citizenship" type="text" placeholder="Državljanstvo"
                            formControlName="citizenship">
                        <mat-error>{{formError.mapErrors(contactForm.get('citizenship'), 'Državljanstvo')}}
                        </mat-error>
                    </mat-form-field>&nbsp;


                    <mat-form-field class="example-full-width">
                        <input type="text" placeholder="Doputovao iz države" aria-label="Number" matInput
                            formControlName="countryOfImport" [matAutocomplete]="autoContact">
                        <mat-autocomplete #autoContact="matAutocomplete" autoActiveFirstOption>
                            <mat-option *ngFor="let country of filteredCountriesContact | async" [value]="country">
                                {{country}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <!--
                <mat-form-field>
                    <input matInput name="countryOfImportContact" type="text" placeholder="Doputovao iz države"
                        formControlName="countryOfImportContact">
                    <mat-error>{{formError.mapErrors(contactForm.get('countryOfImportContact'), 'Doputovao iz države')}}
                    </mat-error>
                </mat-form-field>
                &nbsp;
                -->
                    <div formGroupName="personalInfo">
                        <mat-form-field>
                            <input matInput name="phone" type="text" placeholder="Telefon" formControlName="phone">
                            <mat-error>{{formError.mapErrors(contactForm.get('personalInfo.phone'), 'Telefon')}}
                            </mat-error>
                        </mat-form-field><br>
                    </div>
                    <mat-form-field>
                        <mat-label>Datum kontakta</mat-label>
                        <input matInput [matDatepicker]="pickerContact" name="date" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="pickerContact"></mat-datepicker-toggle>
                        <mat-datepicker #pickerContact></mat-datepicker>
                    </mat-form-field>

                </div>
            </mat-card>
            <br><br>
            <button mat-raised-button color="primary" matTooltip="Dodaj kontakt" (click)="saveContact()">Dodaj</button>

            <br>
            <mat-form-field class="search">
                <span matSuffix>
                    <mat-icon>search</mat-icon>
                </span>
                <input matInput (keyup)="applyFilterContacts($event.target.value)" placeholder="Pretraga">
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceContacts">

                    <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef> Redni broj </th>
                        <td mat-cell *matCellDef="let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="firstname">
                        <th mat-header-cell *matHeaderCellDef> Ime </th>
                        <td mat-cell *matCellDef="let contact"> {{contact.personalInfo.firstname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="lastname">
                        <th mat-header-cell *matHeaderCellDef> Prezime </th>
                        <td mat-cell *matCellDef="let contact"> {{contact.personalInfo.lastname}} </td>
                    </ng-container>

                    <ng-container matColumnDef="jmbg">
                        <th mat-header-cell *matHeaderCellDef> JMBG </th>
                        <td mat-cell *matCellDef="let contact"> {{contact.personalInfo.jmbg}} </td>
                    </ng-container>

                    <ng-container matColumnDef="phone">
                        <th mat-header-cell *matHeaderCellDef> Telefon </th>
                        <td mat-cell *matCellDef="let contact"> {{contact.personalInfo.phone}} </td>
                    </ng-container>
                    <!--
                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let patient">
                            <button mat-raised-button color="warn" (click)="openDialog(patient)" matTooltip="Izbriši">
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-raised-button color="accent" [routerLink]="['/register-patient', patient]"
                                matTooltip="Izmeni">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsContacts"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsContacts;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-tab>

        <mat-tab disabled>
            <ng-template mat-tab-label>
                <button [disableRipple]="true" mat-raised-button color="primary"
                    (click)="savePatient()">Sačuvaj</button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>