.patient {
    text-align: center;
}

.buttonBorder {
    background-color: rgba(0,0,0,.87);
    color: white;
}

.buttonAdd {
    background-color: green;
    color: white;
}

table {
    width: 100%;
}

.search {
    font-size: 14px;
    width: 100%;
}

