.patient {
    text-align: center;
}

.buttonBorder {
    background-color: green;
    color: white;
}

table {
    width: 100%;
}

.search {
    font-size: 14px;
    width: 100%;
}

.mat-tab-labels :last-child {
    opacity: unset;
}