table {
    width: 100%;
    text-align: left;
}

tr.mat-row:hover {
    background-color:  rgb(210, 255, 220);
  }

.patients-div {
    margin: 40px;
    justify-content: center;
    align-items: center;
}

.mat-elevation-z8 {
    width: 100%;
    background-color: rgb(210, 255, 220);
}

.patient {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search {
    font-size: 14px;
    width: 90%;
    margin-top: 10px;
}

.patient-button {
    margin: 20px;
}

@media only screen and (max-width: 700px) {
    .cell {
      width: 50px;
      word-wrap: break-word;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .cell {
      width: 40px;
      word-wrap: break-word;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .cell {
      width: 30px;
      word-wrap: break-word;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .cell {
      width: 20px;
      word-wrap: break-word;
    }
  }
  
  @media only screen and (max-width: 300px) {
    .cell {
      width: 10px;
      word-wrap: break-word;
    }
  }